.u-center-text {
  text-align: center !important;
}

.u-margin-botom-big {
  margin-bottom: 8rem !important;
}

.u-margin-botom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-botom-small {
  margin-bottom: 1.2rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 12rem !important;
}
