.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(phone) {
    padding: 20rem 0;
    // height: 125rem;
  }

  &-flex-heading {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  &-flex-content {
    display: flex;
    justify-content: space-evenly;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }

    &-1 {
      width: 40%;

      @include respond(phone) {
        width: 80%;
      }
    }

    &-2 {
      width: 40%;

      @include respond(phone) {
        width: 70%;
      }
    }
  }
}

.section-features {
  padding: 20rem 2rem;
  margin-top: -8rem;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../images/nat-4.jpg);
  background-size: cover;

  transform: skewY(-$section-skew);
  & > * {
    transform: skewY($section-skew);
  }

  @include respond(phone) {
    padding: 0 0.5rem;
  }

  &__container {
    padding: 10rem 2rem;
    display: flex;
    justify-content: space-evenly;

    @include respond(phone) {
      flex-direction: column;
    }
  }
}

.section-tours {
  background-color: $color-grey-light-1;

  padding: 25rem 0 15rem 0;
  margin-top: -8rem;

  @include respond(tab-port) {
    padding: 15rem 0;
  }

  &__container {
    padding: 10rem 2rem;
    display: flex;
    justify-content: space-evenly;

    position: relative;

    @include respond(tab-port) {
      padding: 4rem 4rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.section-stories {
  padding: 15rem 0;
  margin-top: -8rem;
  position: relative;

  &__container {
    padding: 10rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.section-book {
  padding: 15rem 0;

  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-land) {
  }

  &__container {
    padding: 10rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(tab-land) {
      padding: 0;
    }
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../images/nat-10.jpg);
  width: 75%;
  border-radius: 3px;
  @include boxShadowDark();

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 70%,
        transparent 70%
      ),
      url(../images/nat-10.jpg);
    background-size: cover;
  }

  &__form {
    width: 50%;
    padding: 6rem;
    padding-top: 3rem;

    @include respond(tab-land) {
      width: 70%;
    }
  }
}
