.story {
  background-color: rgba($color-white, 0.4);
  width: 50%;

  @include boxShadowDark();

  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;

  font-size: $default-font-size;

  transform: skewX(-10deg);

  @include respond(tab-port) {
    width: 80%;
    transform: skewX(0);
    padding: 4rem;
    padding-left: 7rem;
  }

  &__shape {
    position: relative;

    width: 15rem;
    height: 15rem;
    float: left;

    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    transform: translateX(-3rem) skewX(10deg);
  }

  &__img {
    width: inherit;
    height: inherit;
    transform: scale(1.4);
    transition: all 1s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;

    transition: all 1s;
    backface-visibility: hidden; //Fix the glitch!
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }

  &__text {
    transform: skewX(10deg);

    @include respond(tab-port) {
      transform: skewX(0);
    }
  }
}
